@import 'textTemplate';

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.wrapper {
	width: 100%;
	height: 100%;
}

.container {
	width: 1080px;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	padding: 0px 15px;
	margin: 0px auto;
}

.header {
	height: 53px;
	display: flex;
	justify-content: space-between;
	align-items: center;

	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;

	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-moz-box-pack: justify;
	-ms-flex-pack: justify;

	-webkit-box-align: center;
	-webkit-align-items: center;
	-moz-box-align: center;
	-ms-flex-align: center;


	.logo {
		display: flex;
		flex-direction: row;

		display: -webkit-box;
		display: -webkit-flex;
		display: -moz-box;
		display: -ms-flexbox;

		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		-webkit-flex-direction: row;
		-moz-box-orient: horizontal;
		-moz-box-direction: normal;
		-ms-flex-direction: row;


		p {
			font-family: 'Squada One', cursive;
			font-weight: 400;
			font-size: 18px;
			text-transform: uppercase;
			padding-left: 8px;
		}

		img {
			width: 16px;
			height: 16px;
		}
	}

	.menu {
		a {
			padding-left: 48px;
			font-family: 'Montserrat', sans-serif;
			font-weight: 700;
			font-size: 12px;
			text-transform: uppercase;
			color: black;
			text-decoration: none;

			&:hover {
				color: gray;
			}
		}
	}
}

.section1 {
	width: 535px;
	margin-top: 173px;

	h1 {
		@extend %TitleTemplate1;
		font-size: 48px;
		line-height: 59px;
	}

	p {
		@extend %ParagrafTemplate;
		margin-top: 8px;
	}

	.btn {
		width: 308px;
		padding: 12px 50px 12px 50px;
		margin-top: 32px;
		border-radius: 4px;
		background-color: #E05124;
		box-shadow: 0px 8px 30px rgba(224, 81, 36, 0.4);

		a {

			font-family: 'Roboto';
			font-size: 16px;
			font-weight: 900;
			line-height: 19px;
			text-transform: uppercase;
			text-decoration: none;
			color: white;
		}
	}
}

.section2 {
	display: flex;
	flex-direction: row;

	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;

	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-webkit-flex-direction: row;
	-moz-box-orient: horizontal;
	-moz-box-direction: normal;
	-ms-flex-direction: row;

	margin-top: 203px;
	background-color: white;
	box-shadow: 0px 16px 100px rgba(0, 0, 0, 0.2);
	border-radius: 16px;

	.section2_content {
		max-width: 100%;
		padding: 38px 280px 39px 24px;

		h1 {
			@extend %TitleTemplate2;
			font-size: 32px;
		}

		p {
			@extend %ParagrafTemplate;
			margin-top: 19px;
			line-height: 20px;
		}
	}
}

.section2_img {
	position: absolute;
	left: 769px;
	top: 653px;

}

.section3 {
	display: grid;
	display: -ms-grid;
	margin-top: 144px;

	.section3_content {

		h1 {
			@extend %TitleTemplate2;
			margin-bottom: 8px;
			font-size: 24px;
		}

		p {
			@extend %ParagrafTemplate;
			font-size: 16px;
		}
	}
}

.information_cards {
	display: grid;
	justify-content: space-between;
	grid-template-columns: repeat(3, 1fr);


	.first_card {
		margin-top: 40px;
		width: 336px;
		height: 570px;
		background-color: white;
		border-radius: 16px;
		box-shadow: 0px 20px 100px rgba(0, 0, 0, 0.2);

		.card_title {
			height: 153px;
			text-align: center;
			padding-left: 32px;
			padding-right: 32px;
			padding-top: 32px;
			background-color: white;
			border-top-left-radius: 16px;
			border-top-right-radius: 16px;

			h1 {
				@extend %TitleTemplate1;
				font-size: 32px;
				margin-bottom: 16px;
			}

			p {
				@extend %ParagrafTemplate;
				font-size: 14px;
			}
		}

		.card_price {
			height: 81px;
			padding-top: 16px;
			padding-bottom: 16px;
			display: flex;
			flex-direction: row;
			justify-content: center;

			display: -webkit-box;
			display: -webkit-flex;
			display: -moz-box;
			display: -ms-flexbox;

			-webkit-box-orient: horizontal;
			-webkit-box-direction: normal;
			-webkit-flex-direction: row;
			-moz-box-orient: horizontal;
			-moz-box-direction: normal;
			-ms-flex-direction: row;

			-webkit-box-pack: center;
			-webkit-justify-content: center;
			-moz-box-pack: center;
			-ms-flex-pack: center;

			background-color: rgb(244, 243, 243);

			.p1 {
				font-family: 'Montserrat';
				font-weight: 700;
				font-size: 22px;
				color: #E05124;
			}

			p {
				font-family: 'Montserrat';
				font-weight: 700;
				font-size: 40px;
				color: #E05124;
				text-shadow: 8px 8px 30px rgba(224, 81, 36, 0.4);
			}
		}

		.service1 {
			display: flex;
			flex-direction: row;
			align-items: center;
			padding: 16px 32px 15px 32px;
			background-color: white;
			justify-content: space-between;

			display: -webkit-box;
			display: -webkit-flex;
			display: -moz-box;
			display: -ms-flexbox;

			-webkit-box-orient: horizontal;
			-webkit-box-direction: normal;
			-webkit-flex-direction: row;
			-moz-box-orient: horizontal;
			-moz-box-direction: normal;
			-ms-flex-direction: row;

			-webkit-box-align: center;
			-webkit-align-items: center;
			-moz-box-align: center;
			-ms-flex-align: center;

			-webkit-box-pack: justify;
			-webkit-justify-content: space-between;
			-moz-box-pack: justify;
			-ms-flex-pack: justify;


			p {
				@extend %CardsTemplate1;
			}

			img {
				box-shadow: 8px 8px 30px rgba(51, 198, 38, 0.4);
			}
		}

		.service2 {
			display: flex;
			flex-direction: row;
			align-items: center;
			padding: 16px 32px 15px 32px;
			background-color: rgb(244, 243, 243);
			justify-content: space-between;

			display: -webkit-box;
			display: -webkit-flex;
			display: -moz-box;
			display: -ms-flexbox;

			-webkit-box-orient: horizontal;
			-webkit-box-direction: normal;
			-webkit-flex-direction: row;
			-moz-box-orient: horizontal;
			-moz-box-direction: normal;
			-ms-flex-direction: row;

			-webkit-box-align: center;
			-webkit-align-items: center;
			-moz-box-align: center;
			-ms-flex-align: center;

			-webkit-box-pack: justify;
			-webkit-justify-content: space-between;
			-moz-box-pack: justify;
			-ms-flex-pack: justify;

			p {
				@extend %CardsTemplate2;
			}
		}

		.service3 {
			display: flex;
			flex-direction: row;
			align-items: center;
			padding: 16px 32px 15px 32px;
			background-color: white;
			justify-content: space-between;

			display: -webkit-box;
			display: -webkit-flex;
			display: -moz-box;
			display: -ms-flexbox;

			-webkit-box-orient: horizontal;
			-webkit-box-direction: normal;
			-webkit-flex-direction: row;
			-moz-box-orient: horizontal;
			-moz-box-direction: normal;
			-ms-flex-direction: row;

			-webkit-box-align: center;
			-webkit-align-items: center;
			-moz-box-align: center;
			-ms-flex-align: center;

			-webkit-box-pack: justify;
			-webkit-justify-content: space-between;
			-moz-box-pack: justify;
			-ms-flex-pack: justify;

			p {
				@extend %CardsTemplate2;
			}
		}

		.service4 {
			display: flex;
			flex-direction: row;
			align-items: center;
			padding: 16px 32px 15px 32px;
			background-color: rgb(244, 243, 243);
			justify-content: space-between;

			display: -webkit-box;
			display: -webkit-flex;
			display: -moz-box;
			display: -ms-flexbox;

			-webkit-box-orient: horizontal;
			-webkit-box-direction: normal;
			-webkit-flex-direction: row;
			-moz-box-orient: horizontal;
			-moz-box-direction: normal;
			-ms-flex-direction: row;

			-webkit-box-align: center;
			-webkit-align-items: center;
			-moz-box-align: center;
			-ms-flex-align: center;

			-webkit-box-pack: justify;
			-webkit-justify-content: space-between;
			-moz-box-pack: justify;
			-ms-flex-pack: justify;

			p {
				@extend %CardsTemplate2;
			}
		}

		.service5 {
			display: flex;
			flex-direction: row;
			align-items: center;
			padding: 16px 32px 15px 32px;
			background-color: white;
			justify-content: space-between;

			display: -webkit-box;
			display: -webkit-flex;
			display: -moz-box;
			display: -ms-flexbox;

			-webkit-box-orient: horizontal;
			-webkit-box-direction: normal;
			-webkit-flex-direction: row;
			-moz-box-orient: horizontal;
			-moz-box-direction: normal;
			-ms-flex-direction: row;

			-webkit-box-align: center;
			-webkit-align-items: center;
			-moz-box-align: center;
			-ms-flex-align: center;

			-webkit-box-pack: justify;
			-webkit-justify-content: space-between;
			-moz-box-pack: justify;
			-ms-flex-pack: justify;

			p {
				@extend %CardsTemplate2;
			}
		}

		.service6 {
			display: flex;
			flex-direction: row;
			align-items: center;
			padding: 16px 32px 15px 32px;
			background-color: rgb(244, 243, 243);
			justify-content: space-between;

			display: -webkit-box;
			display: -webkit-flex;
			display: -moz-box;
			display: -ms-flexbox;

			-webkit-box-orient: horizontal;
			-webkit-box-direction: normal;
			-webkit-flex-direction: row;
			-moz-box-orient: horizontal;
			-moz-box-direction: normal;
			-ms-flex-direction: row;

			-webkit-box-align: center;
			-webkit-align-items: center;
			-moz-box-align: center;
			-ms-flex-align: center;

			-webkit-box-pack: justify;
			-webkit-justify-content: space-between;
			-moz-box-pack: justify;
			-ms-flex-pack: justify;

			p {
				@extend %CardsTemplate2;
			}
		}

		.service7 {
			display: flex;
			flex-direction: row;
			align-items: center;
			padding: 16px 32px 15px 32px;
			background-color: white;
			border-bottom-left-radius: 16px;
			border-bottom-right-radius: 16px;
			justify-content: space-between;

			display: -webkit-box;
			display: -webkit-flex;
			display: -moz-box;
			display: -ms-flexbox;

			-webkit-box-orient: horizontal;
			-webkit-box-direction: normal;
			-webkit-flex-direction: row;
			-moz-box-orient: horizontal;
			-moz-box-direction: normal;
			-ms-flex-direction: row;

			-webkit-box-align: center;
			-webkit-align-items: center;
			-moz-box-align: center;
			-ms-flex-align: center;

			-webkit-box-pack: justify;
			-webkit-justify-content: space-between;
			-moz-box-pack: justify;
			-ms-flex-pack: justify;

			p {
				@extend %CardsTemplate2;
			}
		}
	}

	img {
		width: 22px;
		height: 22px;
		box-shadow: 8px 8px 30px rgba(224, 81, 36, 0.4);
	}
}


.second_card {
	margin-top: 40px;
	width: 336px;
	height: 570px;
	background-color: white;
	border-radius: 16px;
	box-shadow: 0px 20px 100px rgba(0, 0, 0, 0.2);

	.card_title {
		height: 153px;
		text-align: center;
		padding-left: 32px;
		padding-right: 32px;
		padding-top: 32px;
		background-color: white;
		border-top-left-radius: 16px;
		border-top-right-radius: 16px;

		h1 {
			@extend %TitleTemplate1;
			font-size: 32px;
			margin-bottom: 16px;
		}

		p {
			@extend %ParagrafTemplate;
			font-size: 14px;
		}
	}

	.card_price {
		height: 81px;
		padding-top: 16px;
		padding-bottom: 16px;
		display: flex;
		flex-direction: row;
		justify-content: center;
		background-color: rgb(244, 243, 243);

		display: -webkit-box;
		display: -webkit-flex;
		display: -moz-box;
		display: -ms-flexbox;

		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		-webkit-flex-direction: row;
		-moz-box-orient: horizontal;
		-moz-box-direction: normal;
		-ms-flex-direction: row;

		-webkit-box-pack: center;
		-webkit-justify-content: center;
		-moz-box-pack: center;
		-ms-flex-pack: center;


		.p1 {
			font-family: 'Montserrat';
			font-weight: 700;
			font-size: 22px;
			color: #E05124;
		}

		p {
			font-family: 'Montserrat';
			font-weight: 700;
			font-size: 40px;
			color: #E05124;
			text-shadow: 8px 8px 30px rgba(224, 81, 36, 0.4);
		}
	}

	.service2-1 {
		display: flex;
		flex-direction: row;
		align-items: center;
		padding: 16px 32px 15px 32px;
		background-color: white;
		justify-content: space-between;

		display: -webkit-box;
		display: -webkit-flex;
		display: -moz-box;
		display: -ms-flexbox;

		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		-webkit-flex-direction: row;
		-moz-box-orient: horizontal;
		-moz-box-direction: normal;
		-ms-flex-direction: row;

		-webkit-box-align: center;
		-webkit-align-items: center;
		-moz-box-align: center;
		-ms-flex-align: center;

		-webkit-box-pack: justify;
		-webkit-justify-content: space-between;
		-moz-box-pack: justify;
		-ms-flex-pack: justify;

		p {
			@extend %CardsTemplate1;
		}

		img {
			box-shadow: 8px 8px 30px rgba(51, 198, 38, 0.4);
		}
	}

	.service2-2 {
		display: flex;
		flex-direction: row;
		align-items: center;
		padding: 16px 32px 15px 32px;
		background-color: rgb(244, 243, 243);
		justify-content: space-between;

		display: -webkit-box;
		display: -webkit-flex;
		display: -moz-box;
		display: -ms-flexbox;

		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		-webkit-flex-direction: row;
		-moz-box-orient: horizontal;
		-moz-box-direction: normal;
		-ms-flex-direction: row;

		-webkit-box-align: center;
		-webkit-align-items: center;
		-moz-box-align: center;
		-ms-flex-align: center;

		-webkit-box-pack: justify;
		-webkit-justify-content: space-between;
		-moz-box-pack: justify;
		-ms-flex-pack: justify;

		p {
			@extend %CardsTemplate1;
		}

		img {
			box-shadow: 8px 8px 30px rgba(51, 198, 38, 0.4);
		}
	}

	.service2-3 {
		display: flex;
		flex-direction: row;
		align-items: center;
		padding: 16px 32px 15px 32px;
		background-color: white;
		justify-content: space-between;

		display: -webkit-box;
		display: -webkit-flex;
		display: -moz-box;
		display: -ms-flexbox;

		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		-webkit-flex-direction: row;
		-moz-box-orient: horizontal;
		-moz-box-direction: normal;
		-ms-flex-direction: row;

		-webkit-box-align: center;
		-webkit-align-items: center;
		-moz-box-align: center;
		-ms-flex-align: center;

		-webkit-box-pack: justify;
		-webkit-justify-content: space-between;
		-moz-box-pack: justify;
		-ms-flex-pack: justify;

		p {
			@extend %CardsTemplate1;
		}

		img {
			box-shadow: 8px 8px 30px rgba(51, 198, 38, 0.4);
		}
	}

	.service2-4 {
		display: flex;
		flex-direction: row;
		align-items: center;
		padding: 16px 32px 15px 32px;
		background-color: rgb(244, 243, 243);
		justify-content: space-between;

		display: -webkit-box;
		display: -webkit-flex;
		display: -moz-box;
		display: -ms-flexbox;

		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		-webkit-flex-direction: row;
		-moz-box-orient: horizontal;
		-moz-box-direction: normal;
		-ms-flex-direction: row;

		-webkit-box-align: center;
		-webkit-align-items: center;
		-moz-box-align: center;
		-ms-flex-align: center;

		-webkit-box-pack: justify;
		-webkit-justify-content: space-between;
		-moz-box-pack: justify;
		-ms-flex-pack: justify;

		p {
			@extend %CardsTemplate1;
		}

		img {
			box-shadow: 8px 8px 30px rgba(51, 198, 38, 0.4);
		}
	}

	.service2-5 {
		display: flex;
		flex-direction: row;
		align-items: center;
		padding: 16px 32px 15px 32px;
		background-color: white;
		justify-content: space-between;

		display: -webkit-box;
		display: -webkit-flex;
		display: -moz-box;
		display: -ms-flexbox;

		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		-webkit-flex-direction: row;
		-moz-box-orient: horizontal;
		-moz-box-direction: normal;
		-ms-flex-direction: row;

		-webkit-box-align: center;
		-webkit-align-items: center;
		-moz-box-align: center;
		-ms-flex-align: center;

		-webkit-box-pack: justify;
		-webkit-justify-content: space-between;
		-moz-box-pack: justify;
		-ms-flex-pack: justify;

		p {
			@extend %CardsTemplate1;
		}

		img {
			box-shadow: 8px 8px 30px rgba(51, 198, 38, 0.4);
		}
	}

	.service2-6 {
		display: flex;
		flex-direction: row;
		align-items: center;
		padding: 16px 32px 15px 32px;
		background-color: rgb(244, 243, 243);
		justify-content: space-between;

		display: -webkit-box;
		display: -webkit-flex;
		display: -moz-box;
		display: -ms-flexbox;

		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		-webkit-flex-direction: row;
		-moz-box-orient: horizontal;
		-moz-box-direction: normal;
		-ms-flex-direction: row;

		-webkit-box-align: center;
		-webkit-align-items: center;
		-moz-box-align: center;
		-ms-flex-align: center;

		-webkit-box-pack: justify;
		-webkit-justify-content: space-between;
		-moz-box-pack: justify;
		-ms-flex-pack: justify;

		p {
			@extend %CardsTemplate1;
		}

		img {
			box-shadow: 8px 8px 30px rgba(51, 198, 38, 0.4);
		}
	}

	.service2-7 {
		display: flex;
		flex-direction: row;
		align-items: center;
		padding: 16px 32px 15px 32px;
		background-color: white;
		justify-content: space-between;
		border-bottom-left-radius: 16px;
		border-bottom-right-radius: 16px;

		display: -webkit-box;
		display: -webkit-flex;
		display: -moz-box;
		display: -ms-flexbox;

		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		-webkit-flex-direction: row;
		-moz-box-orient: horizontal;
		-moz-box-direction: normal;
		-ms-flex-direction: row;

		-webkit-box-align: center;
		-webkit-align-items: center;
		-moz-box-align: center;
		-ms-flex-align: center;

		-webkit-box-pack: justify;
		-webkit-justify-content: space-between;
		-moz-box-pack: justify;
		-ms-flex-pack: justify;

		p {
			@extend %CardsTemplate1;
		}

		img {
			box-shadow: 8px 8px 30px rgba(51, 198, 38, 0.4);
		}
	}


}


.third_card {
	margin-top: 40px;
	width: 336px;
	background: linear-gradient(144.64deg, #22E871 15.38%, #658324 79.28%, #A56B26 100%);
	box-shadow: 0px 20px 100px rgba(33, 99, 10, 0.65);
	border-radius: 16px;

	.card_title {
		height: 153px;
		text-align: center;
		padding-left: 32px;
		padding-right: 32px;
		padding-top: 32px;

		h1 {
			font-family: 'Montserrat';
			font-weight: 800;
			text-transform: uppercase;
			font-size: 32px;
			margin-bottom: 16px;
			color: white;
		}

		p {
			font-family: 'Montserrat';
			font-weight: 400;
			font-size: 16px;
			font-size: 14px;
			color: white;
		}
	}

	.card_price {
		height: 81px;
		padding-top: 16px;
		padding-bottom: 16px;
		display: flex;
		flex-direction: row;
		justify-content: center;
		background-color: rgb(225, 225, 225, 0.2);

		display: -webkit-box;
		display: -webkit-flex;
		display: -moz-box;
		display: -ms-flexbox;

		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		-webkit-flex-direction: row;
		-moz-box-orient: horizontal;
		-moz-box-direction: normal;
		-ms-flex-direction: row;

		-webkit-box-pack: center;
		-webkit-justify-content: center;
		-moz-box-pack: center;
		-ms-flex-pack: center;

		.p1 {
			font-family: 'Montserrat';
			font-weight: 700;
			font-size: 22px;
			color: #E05124;
		}

		p {
			font-family: 'Montserrat';
			font-weight: 700;
			font-size: 40px;
			color: #E05124;
			text-shadow: 8px 8px 30px rgba(224, 81, 36, 0.4);
		}
	}

	.service3-1 {
		display: flex;
		flex-direction: row;
		align-items: center;
		padding: 16px 32px 15px 32px;
		justify-content: space-between;

		display: -webkit-box;
		display: -webkit-flex;
		display: -moz-box;
		display: -ms-flexbox;

		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		-webkit-flex-direction: row;
		-moz-box-orient: horizontal;
		-moz-box-direction: normal;
		-ms-flex-direction: row;

		-webkit-box-align: center;
		-webkit-align-items: center;
		-moz-box-align: center;
		-ms-flex-align: center;

		-webkit-box-pack: justify;
		-webkit-justify-content: space-between;
		-moz-box-pack: justify;
		-ms-flex-pack: justify;

		p {
			@extend %CardsTemplate1;
			color: white;
		}
	}

	.service3-2 {
		display: flex;
		flex-direction: row;
		align-items: center;
		padding: 16px 32px 15px 32px;
		justify-content: space-between;
		background-color: rgb(225, 225, 225, 0.2);

		display: -webkit-box;
		display: -webkit-flex;
		display: -moz-box;
		display: -ms-flexbox;

		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		-webkit-flex-direction: row;
		-moz-box-orient: horizontal;
		-moz-box-direction: normal;
		-ms-flex-direction: row;

		-webkit-box-align: center;
		-webkit-align-items: center;
		-moz-box-align: center;
		-ms-flex-align: center;

		-webkit-box-pack: justify;
		-webkit-justify-content: space-between;
		-moz-box-pack: justify;
		-ms-flex-pack: justify;

		p {
			@extend %CardsTemplate1;
			color: white;
		}
	}

	.service3-3 {
		display: flex;
		flex-direction: row;
		align-items: center;
		padding: 16px 32px 15px 32px;
		justify-content: space-between;

		display: -webkit-box;
		display: -webkit-flex;
		display: -moz-box;
		display: -ms-flexbox;

		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		-webkit-flex-direction: row;
		-moz-box-orient: horizontal;
		-moz-box-direction: normal;
		-ms-flex-direction: row;

		-webkit-box-align: center;
		-webkit-align-items: center;
		-moz-box-align: center;
		-ms-flex-align: center;

		-webkit-box-pack: justify;
		-webkit-justify-content: space-between;
		-moz-box-pack: justify;
		-ms-flex-pack: justify;

		p {
			@extend %CardsTemplate1;
			color: white;
		}
	}

	.service3-4 {
		display: flex;
		flex-direction: row;
		align-items: center;
		padding: 16px 32px 15px 32px;
		justify-content: space-between;
		background-color: rgb(225, 225, 225, 0.2);

		display: -webkit-box;
		display: -webkit-flex;
		display: -moz-box;
		display: -ms-flexbox;

		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		-webkit-flex-direction: row;
		-moz-box-orient: horizontal;
		-moz-box-direction: normal;
		-ms-flex-direction: row;

		-webkit-box-align: center;
		-webkit-align-items: center;
		-moz-box-align: center;
		-ms-flex-align: center;

		-webkit-box-pack: justify;
		-webkit-justify-content: space-between;
		-moz-box-pack: justify;
		-ms-flex-pack: justify;

		p {
			@extend %CardsTemplate1;
			color: white;
		}
	}

	.service3-5 {
		display: flex;
		flex-direction: row;
		align-items: center;
		padding: 16px 32px 15px 32px;
		justify-content: space-between;

		display: -webkit-box;
		display: -webkit-flex;
		display: -moz-box;
		display: -ms-flexbox;

		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		-webkit-flex-direction: row;
		-moz-box-orient: horizontal;
		-moz-box-direction: normal;
		-ms-flex-direction: row;

		-webkit-box-align: center;
		-webkit-align-items: center;
		-moz-box-align: center;
		-ms-flex-align: center;

		-webkit-box-pack: justify;
		-webkit-justify-content: space-between;
		-moz-box-pack: justify;
		-ms-flex-pack: justify;

		p {
			@extend %CardsTemplate1;
			color: white;
		}
	}

	.service3-6 {
		display: flex;
		flex-direction: row;
		align-items: center;
		padding: 16px 32px 15px 32px;
		justify-content: space-between;
		background-color: rgb(225, 225, 225, 0.2);

		display: -webkit-box;
		display: -webkit-flex;
		display: -moz-box;
		display: -ms-flexbox;

		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		-webkit-flex-direction: row;
		-moz-box-orient: horizontal;
		-moz-box-direction: normal;
		-ms-flex-direction: row;

		-webkit-box-align: center;
		-webkit-align-items: center;
		-moz-box-align: center;
		-ms-flex-align: center;

		-webkit-box-pack: justify;
		-webkit-justify-content: space-between;
		-moz-box-pack: justify;
		-ms-flex-pack: justify;

		p {
			@extend %CardsTemplate1;
			color: white;
		}
	}

	.service3-7 {
		display: flex;
		flex-direction: row;
		align-items: center;
		padding: 16px 32px 15px 32px;
		justify-content: space-between;

		display: -webkit-box;
		display: -webkit-flex;
		display: -moz-box;
		display: -ms-flexbox;

		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		-webkit-flex-direction: row;
		-moz-box-orient: horizontal;
		-moz-box-direction: normal;
		-ms-flex-direction: row;

		-webkit-box-align: center;
		-webkit-align-items: center;
		-moz-box-align: center;
		-ms-flex-align: center;

		-webkit-box-pack: justify;
		-webkit-justify-content: space-between;
		-moz-box-pack: justify;
		-ms-flex-pack: justify;

		p {
			@extend %CardsTemplate1;
			color: white;
		}
	}
}


.section4 {
	display: grid;
	grid-template-columns: 512px 512px;
	gap: 42px 16px;

	.section4_title {
		grid-column-start: 1;
		grid-column-end: 3;
		margin-top: 144px;

		h1 {
			font-family: 'Montserrat';
			font-weight: 700;
			font-size: 24px;
			opacity: 0.8;
			margin-bottom: 8px;
		}

		p {
			@extend %ParagrafTemplate;
		}
	}

	.card1 {
		display: flex;
		display: -webkit-box;
		display: -webkit-flex;
		display: -moz-box;
		display: -ms-flexbox;

		height: 196px;
		padding: 40px 0px 37px 32px;
		background: linear-gradient(112.66deg, #27D26C 0%, #658324 75.52%, #A56B26 100%);
		box-shadow: 0px 20px 100px rgba(33, 99, 10, 0.65);
		border-radius: 16px;

		img {
			position: absolute;
			left: 399px;
			top: 1935px;
		}

		h1 {
			font-family: 'Montserrat';
			font-weight: 800;
			font-size: 22px;
			text-transform: uppercase;
			color: white;
			margin-bottom: 18px;
		}

		p {
			font-family: 'Montserrat';
			font-weight: 400;
			font-size: 14px;
			line-height: 20px;
			color: white;

		}
	}

	.card2 {
		display: flex;
		display: -webkit-box;
		display: -webkit-flex;
		display: -moz-box;
		display: -ms-flexbox;

		height: 196px;
		padding: 40px 0px 37px 32px;
		background: linear-gradient(112.66deg, #27D26C 0%, #658324 75.52%, #A56B26 100%);
		box-shadow: 0px 20px 100px rgba(33, 99, 10, 0.65);
		border-radius: 16px;

		img {
			position: absolute;
			left: 838px;
			top: 2003.5px;
		}

		h1 {
			font-family: 'Montserrat';
			font-weight: 800;
			font-size: 22px;
			text-transform: uppercase;
			color: white;
			margin-bottom: 18px;
		}

		p {
			font-family: 'Montserrat';
			font-weight: 400;
			font-size: 14px;
			line-height: 20px;
			color: white;

		}
	}

	.card3 {
		display: flex;
		display: -webkit-box;
		display: -webkit-flex;
		display: -moz-box;
		display: -ms-flexbox;

		height: 163px;
		padding: 40px 0px 46px 32px;
		background: linear-gradient(112.66deg, #27D26C 0%, #658324 75.52%, #A56B26 100%);
		box-shadow: 0px 20px 100px rgba(33, 99, 10, 0.65);
		border-radius: 16px;

		img {
			position: absolute;
			left: 330px;
			top: 2133.5px;
		}

		h1 {
			font-family: 'Montserrat';
			font-weight: 800;
			font-size: 22px;
			text-transform: uppercase;
			color: white;
			margin-bottom: 18px;
		}

		p {
			font-family: 'Montserrat';
			font-weight: 400;
			font-size: 14px;
			line-height: 20px;
			color: white;

		}
	}

	.card4 {
		display: flex;
		display: -webkit-box;
		display: -webkit-flex;
		display: -moz-box;
		display: -ms-flexbox;

		height: 163px;
		padding: 40px 0px 46px 32px;
		background: linear-gradient(112.66deg, #27D26C 0%, #658324 75.52%, #A56B26 100%);
		box-shadow: 0px 20px 100px rgba(33, 99, 10, 0.65);
		border-radius: 16px;

		img {
			position: absolute;
			left: 852px;
			top: 2170px;
		}

		h1 {
			font-family: 'Montserrat';
			font-weight: 800;
			font-size: 22px;
			text-transform: uppercase;
			color: white;
			margin-bottom: 18px;
		}

		p {
			font-family: 'Montserrat';
			font-weight: 400;
			font-size: 14px;
			line-height: 20px;
			color: white;

		}
	}
}

.section_users {
	width: 100%;
	margin-top: 135px;
	border: 1px solid rgba(0, 0, 0, 0.1);
	border-radius: 4px;
	box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.2);

	h1 {
		margin-top: 16px;
		margin-left: 16px;
		font-family: 'Open Sans';

		font-size: 20px;
	}

	.users_table {
		height: 537px;
		margin: 24px 16px 16px 16px;
		border: 1px solid rgba(0, 0, 0, 0.1);

		table {
			margin-top: 26px;
			margin-left: 16px;

			td {
				height: 56px;
			}

			img {
				margin-right: 8px;
			}

			.avatar_b {
				width: 20px;
				height: 20px;
				font-family: 'Montserrat';
				font-weight: 700;
				font-size: 18px;
				text-align: center;
				color: #5daffb;
				background-color: #e2f1ff;
				border-radius: 50%;
				margin-right: 8px;
			}

			.avatar_R {
				width: 20px;
				height: 20px;
				font-family: 'Montserrat';
				font-weight: 700;
				font-size: 18px;
				text-align: center;
				color: #987eff;
				background-color: #ded6fd;
				border-radius: 50%;
				margin-right: 8px;
			}

			p {
				font-family: 'Open Sans';
				font-weight: bold;
				font-size: 14px;
				line-height: 16px;
			}

			.name {
				font-family: 'Montserrat';
				font-weight: 700;
			}

			.mail {
				font-family: 'Open Sans';
				font-size: 11px;
				color: rgba(0, 0, 0, 0.5);
			}

			.day {
				font-family: 'Open Sans';
				font-size: 11px;
				color: rgba(0, 0, 0, 0.5);
			}

			.status {
				font-family: 'Open Sans';
				font-weight: bold;
				font-size: 14px;
				line-height: 16px;
				color: #3CC13B;
			}
		}

		.person {
			display: flex;
			align-items: flex-start;

			display: -webkit-box;
			display: -webkit-flex;
			display: -moz-box;
			display: -ms-flexbox;

			-webkit-box-align: start;
			-webkit-align-items: flex-start;
			-moz-box-align: start;
			-ms-flex-align: start;

		}

		.tr1 {
			font-family: 'Open Sans';
			font-weight: bold;
			font-size: 14px;
			color: rgba(0, 0, 0, 0.5);

		}

		td:nth-of-type(1) {
			width: 325px;

		}

		td:nth-of-type(2) {
			width: 277px;
		}

		td:nth-of-type(3) {
			width: 232px;
		}

		td:nth-of-type(4) {
			width: 163px;
		}
	}
}

footer {
	width: 100%;
	height: 99px;
	position: absolute;
	display: flex;
	justify-content: center;

	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;

	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-moz-box-pack: center;
	-ms-flex-pack: center;

	top: 3405px;
	background: linear-gradient(112.66deg, #22E871 0%, #658324 75.52%, #A56B26 100%);
	box-shadow: 0px 20px 100px rgba(33, 99, 10, 0.65);


	.footer_container {
		display: flex;
		flex-direction: row;

		display: -webkit-box;
		display: -webkit-flex;
		display: -moz-box;
		display: -ms-flexbox;

		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		-webkit-flex-direction: row;
		-moz-box-orient: horizontal;
		-moz-box-direction: normal;
		-ms-flex-direction: row;

	}

	.footer_content {
		width: 1040px;
		margin: 39px 0px 43px 0px;
		display: flex;
		align-items: center;
		justify-content: space-between;

		display: -webkit-box;
		display: -webkit-flex;
		display: -moz-box;
		display: -ms-flexbox;

		-webkit-box-align: center;
		-webkit-align-items: center;
		-moz-box-align: center;
		-ms-flex-align: center;

		-webkit-box-pack: justify;
		-webkit-justify-content: space-between;
		-moz-box-pack: justify;
		-ms-flex-pack: justify;


		.footer_brand {
			display: flex;
			flex-direction: row;

			display: -webkit-box;
			display: -webkit-flex;
			display: -moz-box;
			display: -ms-flexbox;

			-webkit-box-orient: horizontal;
			-webkit-box-direction: normal;
			-webkit-flex-direction: row;
			-moz-box-orient: horizontal;
			-moz-box-direction: normal;
			-ms-flex-direction: row;

		}

		.logo {
			display: flex;
			flex-direction: row;

			display: -webkit-box;
			display: -webkit-flex;
			display: -moz-box;
			display: -ms-flexbox;

			-webkit-box-orient: horizontal;
			-webkit-box-direction: normal;
			-webkit-flex-direction: row;
			-moz-box-orient: horizontal;
			-moz-box-direction: normal;
			-ms-flex-direction: row;

			p {
				font-family: 'Squada One', cursive;
				font-weight: 400;
				font-size: 18px;
				text-transform: uppercase;
				padding-left: 8px;
				color: white;
			}

			img {
				width: 16px;
				height: 16px;
			}
		}

		.inc {
			font-family: 'Montserrat';
			font-weight: 400;
			font-size: 14px;
			color: white;
			margin-left: 36px;
		}

		.menu {
			a {
				padding-left: 48px;
				font-family: 'Montserrat', sans-serif;
				font-weight: 700;
				font-size: 12px;
				text-transform: uppercase;
				color: black;
				text-decoration: none;
				color: white;
			}
		}
	}


}

@media (min-width: 820px) {
	.header {
		width: 100%;
	}

	.main {
		width: 100%;
	}

	footer {
		width: 100%;
	}
}

@media (min-width:415px) and (max-width:820px) {
	.container {
		max-width: 820px;
	}

	.section1 {
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
		margin-left: 120px;

		display: -webkit-box;
		display: -webkit-flex;
		display: -moz-box;
		display: -ms-flexbox;

		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-webkit-flex-direction: column;
		-moz-box-orient: vertical;
		-moz-box-direction: normal;
		-ms-flex-direction: column;

		-webkit-box-align: center;
		-webkit-align-items: center;
		-moz-box-align: center;
		-ms-flex-align: center;

	}

	.section2 {
		height: 240px;
		display: flex;
		flex-direction: column;

		display: -webkit-box;
		display: -webkit-flex;
		display: -moz-box;
		display: -ms-flexbox;

		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-webkit-flex-direction: column;
		-moz-box-orient: vertical;
		-moz-box-direction: normal;
		-ms-flex-direction: column;


		.section2_img {
			position: absolute;
			left: 530px;
			top: 653px;
		}
	}

	.section3_content {
		display: flex;
		flex-direction: column;
		align-items: center;

		display: -webkit-box;
		display: -webkit-flex;
		display: -moz-box;
		display: -ms-flexbox;

		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-webkit-flex-direction: column;
		-moz-box-orient: vertical;
		-moz-box-direction: normal;
		-ms-flex-direction: column;

		-webkit-box-align: center;
		-webkit-align-items: center;
		-moz-box-align: center;
		-ms-flex-align: center;

	}

	.information_cards {
		display: flex;
		flex-direction: column;
		align-items: center;

		display: -webkit-box;
		display: -webkit-flex;
		display: -moz-box;
		display: -ms-flexbox;

		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-webkit-flex-direction: column;
		-moz-box-orient: vertical;
		-moz-box-direction: normal;
		-ms-flex-direction: column;

		-webkit-box-align: center;
		-webkit-align-items: center;
		-moz-box-align: center;
		-ms-flex-align: center;

		.first_card {
			width: 390px;
		}

		.second_card {
			width: 390px;
		}

		.third_card {
			width: 390px;
		}
	}

	.section4 {
		display: flex;
		flex-direction: column;
		align-items: center;

		display: -webkit-box;
		display: -webkit-flex;
		display: -moz-box;
		display: -ms-flexbox;

		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-webkit-flex-direction: column;
		-moz-box-orient: vertical;
		-moz-box-direction: normal;
		-ms-flex-direction: column;

		-webkit-box-align: center;
		-webkit-align-items: center;
		-moz-box-align: center;
		-ms-flex-align: center;

		.section4_title {
			display: flex;
			flex-direction: column;
			align-items: center;

			display: -webkit-box;
			display: -webkit-flex;
			display: -moz-box;
			display: -ms-flexbox;

			-webkit-box-orient: vertical;
			-webkit-box-direction: normal;
			-webkit-flex-direction: column;
			-moz-box-orient: vertical;
			-moz-box-direction: normal;
			-ms-flex-direction: column;

			-webkit-box-align: center;
			-webkit-align-items: center;
			-moz-box-align: center;
			-ms-flex-align: center;
		}

		.card1 {
			width: 600px;

			img {
				position: absolute;
				top: 3179px;
				left: 580px;
			}
		}

		.card2 {
			width: 600px;

			img {
				position: absolute;
				top: 3486px;
				left: 510px;
			}
		}

		.card3 {
			width: 600px;

			img {
				position: absolute;
				top: 3616px;
				left: 530px;
			}
		}

		.card4 {
			width: 600px;

			img {
				position: absolute;
				top: 3858px;
				left: 510px;
			}
		}
	}

	footer {
		top: 5000px;

		.footer_content {
			max-width: 820px;
			padding-left: 10px;
			padding-right: 10px;
		}

		.menu {
			display: flex
		}
	}

	.users_table {
		td:nth-of-type(1) {
			max-width: 280px;
		}
	}
}



@media (max-width: 416px) {
	.container {
		max-width: 415px;
	}

	.header {
		max-width: 416px;

		.menu {
			width: 250px;
			margin-left: 150px;
			left: -100%;
			padding-top: 70px;
			padding-bottom: 40px;
			display: flex;
			flex-direction: column;
			position: fixed;
			top: 0;
			text-align: center;
			align-items: baseline;
			opacity: 0.8;
			background-color: rgb(183, 183, 183);
			transition: transform .5s;

			display: -webkit-box;
			display: -webkit-flex;
			display: -moz-box;
			display: -ms-flexbox;

			-webkit-box-orient: vertical;
			-webkit-box-direction: normal;
			-webkit-flex-direction: column;
			-moz-box-orient: vertical;
			-moz-box-direction: normal;
			-ms-flex-direction: column;

			-webkit-box-align: baseline;
			-webkit-align-items: baseline;
			-moz-box-align: baseline;
			-ms-flex-align: baseline;

			a {
				line-height: 30px;
				font-size: 16px;
			}



			.menu_btn {
				margin-left: 317px;
				width: 40px;
				height: 40px;
				border: none;
				background-color: #E05124;
				position: absolute;
				border-radius: 50%;
				z-index: 2;

				span {
					position: absolute;
					width: 18px;
					height: 2px;
					background-color: black;
					left: 11px;
				}

				span:nth-child(1) {
					transform: translateY(-6px);

					-webkit-transform: translateY(-6px);
					-moz-transform: translateY(-6px);
					-ms-transform: translateY(-6px);
					-o-transform: translateY(-6px);
				}

				span:nth-child(3) {
					transform: translateY(6px);

					-webkit-transform: translateY(6px);
					-moz-transform: translateY(6px);
					-ms-transform: translateY(6px);
					-o-transform: translateY(6px);
				}
			}
		}

		.open {
			left: 0;
			transition: left 1s;

			.menu_btn {
				span:nth-child(1) {
					transform: translateY(0) rotate(45deg);

					-webkit-transform: translateY(0) rotate(45deg);
					-moz-transform: translateY(0) rotate(45deg);
					-ms-transform: translateY(0) rotate(45deg);
					-o-transform: translateY(0) rotate(45deg);
				}

				span:nth-child(2) {
					opacity: 0;
				}

				span:nth-child(3) {
					transform: translateY(0) rotate(-45deg);

					-webkit-transform: translateY(0) rotate(-45deg);
					-moz-transform: translateY(0) rotate(-45deg);
					-ms-transform: translateY(0) rotate(-45deg);
					-o-transform: translateY(0) rotate(-45deg);
				}
			}
		}

		.menu_btn {
			margin-left: 317px;
			width: 40px;
			height: 40px;
			border: none;
			background-color: #E05124;
			position: absolute;
			border-radius: 50%;
			z-index: 2;

			span {
				position: absolute;
				width: 18px;
				height: 2px;
				background-color: black;
				left: 11px;
			}

			span:nth-child(1) {
				transform: translateY(-6px);

				-webkit-transform: translateY(-6px);
				-moz-transform: translateY(-6px);
				-ms-transform: translateY(-6px);
				-o-transform: translateY(-6px);
			}

			span:nth-child(3) {
				transform: translateY(6px);

				-webkit-transform: translateY(6px);
				-moz-transform: translateY(6px);
				-ms-transform: translateY(6px);
				-o-transform: translateY(6px);
			}
		}
	}



	.section1 {
		max-width: 380px;


		h1 {
			font-size: 36px;
			line-height: 44px;
		}

		p {
			font-size: 18px;
		}

		.btn {
			max-width: 290px;
			padding: 12px 30px 12px 30px;

			a {
				font-size: 16px;
			}
		}
	}

	.section2 {
		max-width: 400px;

		.section2_content {
			padding: 32px 15px 60px 15px;

			h1 {
				max-width: 400px;
				font-size: 28px;
			}

			p {
				font-size: 14px;
			}
		}

		.section2_img {
			position: absolute;
			left: 235px;
			top: 830px;

			img {
				width: 80%;
			}
		}
	}

	.section3_content {
		max-width: 400px;

		h1 {
			font-size: 24px;
		}

		p {
			font-size: 12px;
		}
	}


	.section3 {
		.information_cards {
			display: flex;
			flex-direction: column;
			align-items: center;

			display: -webkit-box;
			display: -webkit-flex;
			display: -moz-box;
			display: -ms-flexbox;

			-webkit-box-orient: vertical;
			-webkit-box-direction: normal;
			-webkit-flex-direction: column;
			-moz-box-orient: vertical;
			-moz-box-direction: normal;
			-ms-flex-direction: column;

			-webkit-box-align: center;
			-webkit-align-items: center;
			-moz-box-align: center;
			-ms-flex-align: center;


			.first_card {
				max-width: 400px;
				margin-bottom: 18px;

				.card_title {
					h1 {
						font-size: 28px;
					}

					p {
						font-size: 16px;
					}
				}

				.card_price {
					p {
						font-size: 36px;
					}

					.p1 {
						font-size: 28px;
					}
				}

				p {
					font-size: 14px;
				}

				img {
					width: 22px;
					height: 22px;
				}
			}

			.second_card {
				max-width: 400px;
				margin-bottom: 18px;

				.card_title {
					h1 {
						font-size: 28px;
					}

					p {
						font-size: 16px;
					}
				}

				.card_price {
					p {
						font-size: 36px;
					}

					.p1 {
						font-size: 28px;
					}
				}

				p {
					font-size: 14px;
				}

				img {
					width: 22px;
					height: 22px;
				}
			}

			.third_card {
				max-width: 400px;

				.card_title {
					h1 {
						font-size: 28px;
					}

					p {
						font-size: 16px;
					}
				}

				.card_price {
					p {
						font-size: 36px;
					}

					.p1 {
						font-size: 28px;
					}
				}

				p {
					font-size: 14px;
				}

				img {
					width: 22px;
					height: 22px;
				}
			}
		}
	}

	.section4 {
		display: flex;
		flex-direction: column;

		display: -webkit-box;
		display: -webkit-flex;
		display: -moz-box;
		display: -ms-flexbox;

		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-webkit-flex-direction: column;
		-moz-box-orient: vertical;
		-moz-box-direction: normal;
		-ms-flex-direction: column;



		.section4_title {
			max-width: 400px;

			h1 {
				font-size: 28px;
			}

			p {
				font-size: 16px;
			}
		}

		.card1 {
			max-width: 400px;
			height: fit-content;
			padding: 30px 15px 50px 15px;
			box-shadow: none;

			h1 {
				font-size: 24px;
			}

			p {
				line-height: 25px;
			}

			img {
				width: 30%;
				position: absolute;
				top: 3300.5px;
				left: 282px;
			}
		}

		.card2 {
			max-width: 400px;
			height: fit-content;
			padding: 30px 15px 50px 15px;
			box-shadow: none;

			h1 {
				font-size: 24px;
			}

			p {
				line-height: 25px;
			}

			img {
				width: 48%;
				top: 3697px;
				left: 218px;
			}
		}

		.card3 {
			max-width: 400px;
			height: fit-content;
			padding: 30px 15px 60px 15px;
			box-shadow: none;

			h1 {
				font-size: 24px;
			}

			p {
				line-height: 25px;
			}

			img {
				width: 44%;
				top: 3887px;
				left: 260px;
			}
		}

		.card4 {
			max-width: 400px;
			height: fit-content;
			padding: 30px 15px 50px 15px;
			box-shadow: none;

			h1 {
				font-size: 24px;
			}

			p {
				line-height: 25px;
			}

			img {
				width: 40%;
				top: 4097.5px;
				left: 248px;
			}
		}
	}

	.section_users {
		max-width: 400px;
		overflow: hidden;

		.users_table {
			max-width: 400px;
			margin: 10px 5px 5px 5px;
			height: 400px;
			overflow-x: scroll;

			p {
				font-size: 14px;
			}

			.person {
				.name {
					font-size: 14px;
				}

				.mail {
					font-size: 12px;
				}

				.day {
					font-size: 12px;
				}

				.status {
					font-size: 14px;
				}
			}

			td:nth-of-type(1) {
				max-width: 210px;
			}

			td:nth-of-type(2) {
				padding-right: 80px;
			}

			td:nth-of-type(3) {
				padding-right: 80px;
			}

			td:nth-of-type(4) {
				padding-right: 30px;
			}
		}
	}

	footer {
		position: absolute;
		top: 5070px;

		.footer_container {
			.footer_content {
				max-width: 400px;

				.footer_brand {
					display: flex;
					flex-direction: column;
					align-items: baseline;

					display: -webkit-flex;
					display: -moz-box;
					display: -ms-flexbox;

					-webkit-box-orient: vertical;
					-webkit-box-direction: normal;
					-webkit-flex-direction: column;
					-moz-box-orient: vertical;
					-moz-box-direction: normal;
					-ms-flex-direction: column;

					-webkit-box-align: baseline;
					-webkit-align-items: baseline;
					-moz-box-align: baseline;
					-ms-flex-align: baseline;

				}

				.menu {
					display: flex;
					flex-direction: column;
					margin-right: 15px;

					display: -webkit-box;
					display: -webkit-flex;
					display: -moz-box;
					display: -ms-flexbox;

					-webkit-box-orient: vertical;
					-webkit-box-direction: normal;
					-webkit-flex-direction: column;
					-moz-box-orient: vertical;
					-moz-box-direction: normal;
					-ms-flex-direction: column;

					a {
						font-size: 10px;
						line-height: 17px;
						opacity: 0.8;
					}
				}
			}
		}
	}
}